@theme {
    --color-primay: #0264ff;
    --color-slate: #1c1a1a;
    
    /* Language Colors */
    --color-1c-enterprise: #814CCC;
    --color-2-dimensional-array: #38761D;
    --color-4d: #004289;
    --color-abap: #E8274B;
    --color-abap-cds: #555e25;
    --color-actionscript: #882B0F;
    --color-ada: #02f88c;
    --color-adblock-filter-list: #800000;
    --color-adobe-font-metrics: #fa0f00;
    --color-agda: #315665;
    --color-ags-script: #B9D9FF;
    --color-aidl: #34EB6B;
    --color-al: #3AA2B5;
    --color-alloy: #64C800;
    --color-alpine-abuild: #0D597F;
    --color-altium-designer: #A89663;
    --color-ampl: #E6EFBB;
    --color-angelscript: #C7D7DC;
    --color-ant-build-system: #A9157E;
    --color-antlers: #ff269e;
    --color-antlr: #9DC3FF;
    --color-apacheconf: #d12127;
    --color-apex: #1797c0;
    --color-api-blueprint: #2ACCA8;
    --color-apl: #5A8164;
    --color-apollo-guidance-computer: #0B3D91;
    --color-applescript: #101F1F;
    --color-arc: #aa2afe;
    --color-asciidoc: #73a0c5;
    --color-asp-net: #9400ff;
    --color-aspectj: #a957b0;
    --color-assembly: #6E4C13;
    --color-astro: #ff5a03;
    --color-asymptote: #ff0000;
    --color-ats: #1ac620;
    --color-augeas: #9CC134;
    --color-autohotkey: #6594b9;
    --color-autoit: #1C3552;
    --color-avro-idl: #0040FF;
    --color-awk: #c30e9b;
    --color-ballerina: #FF5000;
    --color-basic: #ff0000;
    --color-batchfile: #C1F12E;
    --color-beef: #a52f4e;
    --color-berry: #15A13C;
    --color-bibtex: #778899;
    --color-bicep: #519aba;
    --color-bikeshed: #5562ac;
    --color-bison: #6A463F;
    --color-bitbake: #00bce4;
    --color-blade: #f7523f;
    --color-blitzbasic: #00FFAE;
    --color-blitzmax: #cd6400;
    --color-bluespec: #12223c;
    --color-boo: #d4bec1;
    --color-boogie: #c80fa0;
    --color-brainfuck: #2F2530;
    --color-brighterscript: #66AABB;
    --color-brightscript: #662D91;
    --color-browserslist: #ffd539;
    --color-c: #555555;
    --color-csharp: #178600;
    --color-cpp: #f34b7d;
    --color-c2hs-haskell: null;
    --color-cabal-config: #483465;
    --color-cadence: #00ef8b;
    --color-cairo: #ff4a48;
    --color-cameligo: #3be133;
    --color-cap-cds: #0092d1;
    --color-capn-proto: #c42727;
    --color-cartocss: null;
    --color-ceylon: #dfa535;
    --color-chapel: #8dc63f;
    --color-charity: null;
    --color-chuck: #3f8000;
    --color-circom: #707575;
    --color-cirru: #ccccff;
    --color-clarion: #db901e;
    --color-clarity: #5546ff;
    --color-classic-asp: #6a40fd;
    --color-clean: #3F85AF;
    --color-click: #E4E6F3;
    --color-clips: #00A300;
    --color-clojure: #db5855;
    --color-closure-templates: #0d948f;
    --color-cloud-firestore-security-rules: #FFA000;
    --color-cmake: #DA3434;
    --color-cobol: null;
    --color-codeql: #140f46;
    --color-coffeescript: #244776;
    --color-coldfusion: #ed2cd6;
    --color-coldfusion-cfc: #ed2cd6;
    --color-collada: #F1A42B;
    --color-common-lisp: #3fb68b;
    --color-common-workflow-language: #B5314C;
    --color-component-pascal: #B0CE4E;
    --color-cool: null;
    --color-coq: #d0b68c;
    --color-crystal: #000100;
    --color-cson: #244776;
    --color-csound: #1a1a1a;
    --color-csound-document: #1a1a1a;
    --color-csound-score: #1a1a1a;
    --color-css: #563d7c;
    --color-csv: #237346;
    --color-cuda: #3A4E3A;
    --color-cue: #5886E1;
    --color-curry: #531242;
    --color-cweb: #00007a;
    --color-cycript: null;
    --color-cypher: #34c0eb;
    --color-cython: #fedf5b;
    --color-d: #ba595e;
    --color-d2: #526ee8;
    --color-dafny: #FFEC25;
    --color-darcs-patch: #8eff23;
    --color-dart: #00B4AB;
    --color-dataweave: #003a52;
    --color-debian-package-control-file: #D70751;
    --color-denizenscript: #FBEE96;
    --color-dhall: #dfafff;
    --color-digital-command-language: null;
    --color-directx-3d-file: #aace60;
    --color-dm: #447265;
    --color-dockerfile: #384d54;
    --color-dogescript: #cca760;
    --color-dotenv: #e5d559;
    --color-dtrace: null;
    --color-dylan: #6c616e;
    --color-e: #ccce35;
    --color-earthly: #2af0ff;
    --color-easybuild: #069406;
    --color-ec: #913960;
    --color-ecere-projects: #913960;
    --color-ecl: #8a1267;
    --color-eclipse: #001d9d;
    --color-ecmarkup: #eb8131;
    --color-editorconfig: #fff1f2;
    --color-eiffel: #4d6977;
    --color-ejs: #a91e50;
    --color-elixir: #6e4a7e;
    --color-elm: #60B5CC;
    --color-elvish: #55BB55;
    --color-elvish-transcript: #55BB55;
    --color-emacs-lisp: #c065db;
    --color-emberscript: #FFF4F3;
    --color-eq: #a78649;
    --color-erlang: #B83998;
    --color-euphoria: #FF790B;
    --color-fsharp: #b845fc;
    --color-fstar: #572e30;
    --color-factor: #636746;
    --color-fancy: #7b9db4;
    --color-fantom: #14253c;
    --color-faust: #c37240;
    --color-fennel: #fff3d7;
    --color-figlet-font: #FFDDBB;
    --color-filebench-wml: #F6B900;
    --color-filterscript: null;
    --color-fish: #4aae47;
    --color-fluent: #ffcc33;
    --color-flux: #88ccff;
    --color-forth: #341708;
    --color-fortran: #4d41b1;
    --color-fortran-free-form: #4d41b1;
    --color-freebasic: #141AC9;
    --color-freemarker: #0050b2;
    --color-frege: #00cafe;
    --color-futhark: #5f021f;
    --color-g-code: #D08CF2;
    --color-game-maker-language: #71b417;
    --color-gaml: #FFC766;
    --color-gams: #f49a22;
    --color-gap: #0000cc;
    --color-gcc-machine-description: #FFCFAB;
    --color-gdb: null;
    --color-gdscript: #355570;
    --color-gedcom: #003058;
    --color-gemfile-lock: #701516;
    --color-gemini: #ff6900;
    --color-genero: #63408e;
    --color-genero-forms: #d8df39;
    --color-genie: #fb855d;
    --color-genshi: #951531;
    --color-gentoo-ebuild: #9400ff;
    --color-gentoo-eclass: #9400ff;
    --color-gerber-image: #d20b00;
    --color-gherkin: #5B2063;
    --color-git-attributes: #F44D27;
    --color-git-config: #F44D27;
    --color-git-revision-list: #F44D27;
    --color-gleam: #ffaff3;
    --color-glsl: #5686a5;
    --color-glyph: #c1ac7f;
    --color-gnuplot: #f0a9f0;
    --color-go: #00ADD8;
    --color-go-checksums: #00ADD8;
    --color-go-module: #00ADD8;
    --color-go-workspace: #00ADD8;
    --color-godot-resource: #355570;
    --color-golo: #88562A;
    --color-gosu: #82937f;
    --color-grace: #615f8b;
    --color-gradle: #02303a;
    --color-grammatical-framework: #ff0000;
    --color-graphql: #e10098;
    --color-graphviz-dot: #2596be;
    --color-groovy: #4298b8;
    --color-groovy-server-pages: #4298b8;
    --color-gsc: #FF6800;
    --color-hack: #878787;
    --color-haml: #ece2a9;
    --color-handlebars: #f7931e;
    --color-haproxy: #106da9;
    --color-harbour: #0e60e3;
    --color-haskell: #5e5086;
    --color-haxe: #df7900;
    --color-hcl: #844FBA;
    --color-hiveql: #dce200;
    --color-hlsl: #aace60;
    --color-hocon: #9ff8ee;
    --color-holyc: #ffefaf;
    --color-hoon: #00b171;
    --color-hosts-file: #308888;
    --color-html: #e34c26;
    --color-html-ecr: #2e1052;
    --color-html-eex: #6e4a7e;
    --color-html-erb: #701516;
    --color-html-php: #4f5d95;
    --color-html-razor: #512be4;
    --color-http: #005C9C;
    --color-hxml: #f68712;
    --color-hy: #7790B2;
    --color-hyphy: null;
    --color-idl: #a3522f;
    --color-idris: #b30000;
    --color-ignore-list: #000000;
    --color-igor-pro: #0000cc;
    --color-imagej-macro: #99AAFF;
    --color-imba: #16cec6;
    --color-inform-7: null;
    --color-ini: #d1dbe0;
    --color-ink: null;
    --color-inno-setup: #264b99;
    --color-io: #a9188d;
    --color-ioke: #078193;
    --color-isabelle: #FEFE00;
    --color-isabelle-root: #FEFE00;
    --color-j: #9EEDFF;
    --color-janet: #0886a5;
    --color-jar-manifest: #b07219;
    --color-jasmin: #d03600;
    --color-java: #b07219;
    --color-java-properties: #2A6277;
    --color-java-server-pages: #2A6277;
    --color-javascript: #f1e05a;
    --color-javascript-erb: #f1e05a;
    --color-jcl: #d90e09;
    --color-jest-snapshot: #15c213;
    --color-jetbrains-mps: #21D789;
    --color-jflex: #DBCA00;
    --color-jinja: #a52a22;
    --color-jison: #56b3cb;
    --color-jison-lex: #56b3cb;
    --color-jolie: #843179;
    --color-jq: #c7254e;
    --color-json: #292929;
    --color-json-with-comments: #292929;
    --color-json5: #267CB9;
    --color-jsoniq: #40d47e;
    --color-jsonld: #0c479c;
    --color-jsonnet: #0064bd;
    --color-julia: #a270ba;
    --color-jupyter-notebook: #DA5B0B;
    --color-just: #384d54;
    --color-kaitai-struct: #773b37;
    --color-kakounescript: #6f8042;
    --color-kerboscript: #41adf0;
    --color-kicad-layout: #2f4aab;
    --color-kicad-legacy-layout: #2f4aab;
    --color-kicad-schematic: #2f4aab;
    --color-kotlin: #A97BFF;
    --color-krl: #28430A;
    --color-kvlang: #1da6e0;
    --color-labview: #fede06;
    --color-lark: #2980B9;
    --color-lasso: #999999;
    --color-latte: #f2a542;
    --color-lean: null;
    --color-less: #1d365d;
    --color-lex: #DBCA00;
    --color-lfe: #4C3023;
    --color-ligolang: #0e74ff;
    --color-lilypond: #9ccc7c;
    --color-limbo: null;
    --color-liquid: #67b8de;
    --color-literate-agda: #315665;
    --color-literate-coffeescript: #244776;
    --color-literate-haskell: #5e5086;
    --color-livescript: #499886;
    --color-llvm: #185619;
    --color-logos: null;
    --color-logtalk: #295b9a;
    --color-lolcode: #cc9900;
    --color-lookml: #652B81;
    --color-loomscript: null;
    --color-lsl: #3d9970;
    --color-lua: #000080;
    --color-m: null;
    --color-m4: null;
    --color-m4sugar: null;
    --color-macaulay2: #d8ffff;
    --color-makefile: #427819;
    --color-mako: #7e858d;
    --color-markdown: #083fa1;
    --color-marko: #42bff2;
    --color-mask: #f97732;
    --color-mathematica: #dd1100;
    --color-matlab: #e16737;
    --color-max: #c4a79c;
    --color-maxscript: #00a6a6;
    --color-mcfunction: #E22837;
    --color-mdx: #fcb32c;
    --color-mercury: #ff2b2b;
    --color-mermaid: #ff3670;
    --color-meson: #007800;
    --color-metal: #8f14e9;
    --color-minid: null;
    --color-miniyaml: #ff1111;
    --color-mint: #02b046;
    --color-mirah: #c7a938;
    --color-mirc-script: #3d57c3;
    --color-mlir: #5EC8DB;
    --color-modelica: #de1d31;
    --color-modula-2: #10253f;
    --color-modula-3: #223388;
    --color-module-management-system: null;
    --color-monkey: null;
    --color-monkey-c: #8D6747;
    --color-moocode: null;
    --color-moonscript: #ff4585;
    --color-motoko: #fbb03b;
    --color-motorola-68k-assembly: #005daa;
    --color-move: #4a137a;
    --color-mql4: #62A8D6;
    --color-mql5: #4A76B8;
    --color-mtml: #b7e1f4;
    --color-muf: null;
    --color-mupad: #244963;
    --color-mustache: #724b3b;
    --color-myghty: null;
    --color-nanorc: #2d004d;
    --color-nasal: #1d2c4e;
    --color-nasl: null;
    --color-ncl: #28431f;
    --color-nearley: #990000;
    --color-nemerle: #3d3c6e;
    --color-nesc: #94B0C7;
    --color-netlinx: #0aa0ff;
    --color-netlinx-erb: #747faa;
    --color-netlogo: #ff6375;
    --color-newlisp: #87AED7;
    --color-nextflow: #3ac486;
    --color-nginx: #009639;
    --color-nim: #ffc200;
    --color-nit: #009917;
    --color-nix: #7e7eff;
    --color-npm-config: #cb3837;
    --color-nsis: null;
    --color-nu: #c9df40;
    --color-numpy: #9C8AF9;
    --color-nunjucks: #3d8137;
    --color-nushell: #4E9906;
    --color-nwscript: #111522;
    --color-oasv2-json: #85ea2d;
    --color-oasv2-yaml: #85ea2d;
    --color-oasv3-json: #85ea2d;
    --color-oasv3-yaml: #85ea2d;
    --color-objective-c: #438eff;
    --color-objective-cpp: #6866fb;
    --color-objective-j: #ff0c5a;
    --color-objectscript: #424893;
    --color-ocaml: #ef7a08;
    --color-odin: #60AFFE;
    --color-omgrofl: #cabbff;
    --color-ooc: #b0b77e;
    --color-opa: null;
    --color-opal: #f7ede0;
    --color-open-policy-agent: #7d9199;
    --color-openapi-specification-v2: #85ea2d;
    --color-openapi-specification-v3: #85ea2d;
    --color-opencl: #ed2e2d;
    --color-openedge-abl: #5ce600;
    --color-openqasm: #AA70FF;
    --color-openrc-runscript: null;
    --color-openscad: #e5cd45;
    --color-option-list: #476732;
    --color-org: #77aa99;
    --color-ox: null;
    --color-oxygene: #cdd0e3;
    --color-oz: #fab738;
    --color-p4: #7055b5;
    --color-pact: #F7A8B8;
    --color-pan: #cc0000;
    --color-papyrus: #6600cc;
    --color-parrot: #f3ca0a;
    --color-parrot-assembly: null;
    --color-parrot-internal-representation: null;
    --color-pascal: #E3F171;
    --color-pawn: #dbb284;
    --color-pddl: #0d00ff;
    --color-pegjs: #234d6b;
    --color-pep8: #C76F5B;
    --color-perl: #0298c3;
    --color-php: #4F5D95;
    --color-picolisp: #6067af;
    --color-piglatin: #fcd7de;
    --color-pike: #005390;
    --color-plantuml: #fbbd16;
    --color-plpgsql: #336790;
    --color-plsql: #dad8d8;
    --color-pogoscript: #d80074;
    --color-polar: #ae81ff;
    --color-pony: null;
    --color-portugol: #f8bd00;
    --color-postcss: #dc3a0c;
    --color-postscript: #da291c;
    --color-pov-ray-sdl: #6bac65;
    --color-powerbuilder: #8f0f8d;
    --color-powershell: #012456;
    --color-prisma: #0c344b;
    --color-processing: #0096D8;
    --color-procfile: #3B2F63;
    --color-prolog: #74283c;
    --color-promela: #de0000;
    --color-propeller-spin: #7fa2a7;
    --color-pug: #a86454;
    --color-puppet: #302B6D;
    --color-purebasic: #5a6986;
    --color-purescript: #1D222D;
    --color-pyret: #ee1e10;
    --color-python: #3572A5;
    --color-python-console: #3572A5;
    --color-python-traceback: #3572A5;
    --color-q: #0040cd;
    --color-qsharp: #fed659;
    --color-qmake: null;
    --color-qml: #44a51c;
    --color-qt-script: #00b841;
    --color-quake: #882233;
    --color-r: #198CE7;
    --color-racket: #3c5caa;
    --color-ragel: #9d5200;
    --color-raku: #0000fb;
    --color-raml: #77d9fb;
    --color-rascal: #fffaa0;
    --color-rbs: #701516;
    --color-rdoc: #701516;
    --color-realbasic: null;
    --color-reason: #ff5847;
    --color-reasonligo: #ff5847;
    --color-rebol: #358a5b;
    --color-record-jar: #0673ba;
    --color-red: #f50000;
    --color-redcode: null;
    --color-regular-expression: #009a00;
    --color-renpy: #ff7f7f;
    --color-renderscript: null;
    --color-rescript: #ed5051;
    --color-restructuredtext: #141414;
    --color-rexx: #d90e09;
    --color-ring: #2D54CB;
    --color-riot: #A71E49;
    --color-rmarkdown: #198ce7;
    --color-robotframework: #00c0b5;
    --color-roff: #ecdebe;
    --color-roff-manpage: #ecdebe;
    --color-rouge: #cc0088;
    --color-routeros-script: #DE3941;
    --color-rpc: null;
    --color-rpgle: #2BDE21;
    --color-ruby: #701516;
    --color-runoff: #665a4e;
    --color-rust: #dea584;
    --color-sage: null;
    --color-saltstack: #646464;
    --color-sas: #B34936;
    --color-sass: #a53b70;
    --color-scala: #c22d40;
    --color-scaml: #bd181a;
    --color-scenic: #fdc700;
    --color-scheme: #1e4aec;
    --color-scilab: #ca0f21;
    --color-scss: #c6538c;
    --color-sed: #64b970;
    --color-self: #0579aa;
    --color-shaderlab: #222c37;
    --color-shell: #89e051;
    --color-shellcheck-config: #cecfcb;
    --color-shellsession: null;
    --color-shen: #120F14;
    --color-sieve: null;
    --color-simple-file-verification: #C9BFED;
    --color-singularity: #64E6AD;
    --color-slash: #007eff;
    --color-slice: #003fa2;
    --color-slim: #2b2b2b;
    --color-smali: null;
    --color-smalltalk: #596706;
    --color-smarty: #f0c040;
    --color-smithy: #c44536;
    --color-smpl: #c94949;
    --color-smt: null;
    --color-snakemake: #419179;
    --color-solidity: #AA6746;
    --color-sourcepawn: #f69e1d;
    --color-sparql: #0C4597;
    --color-sqf: #3F3F3F;
    --color-sql: #e38c00;
    --color-sqlpl: #e38c00;
    --color-squirrel: #800000;
    --color-srecode-template: #348a34;
    --color-stan: #b2011d;
    --color-standard-ml: #dc566d;
    --color-starlark: #76d275;
    --color-stata: #1a5f91;
    --color-stl: #373b5e;
    --color-stringtemplate: #3fb34f;
    --color-stylus: #ff6347;
    --color-subrip-text: #9e0101;
    --color-sugarss: #2fcc9f;
    --color-supercollider: #46390b;
    --color-svelte: #ff3e00;
    --color-svg: #ff9900;
    --color-sway: #dea584;
    --color-swift: #F05138;
    --color-swig: null;
    --color-systemverilog: #DAE1C2;
    --color-talon: #333333;
    --color-tcl: #e4cc98;
    --color-tcsh: null;
    --color-terra: #00004c;
    --color-tex: #3D6117;
    --color-textile: #ffe7ac;
    --color-textmate-properties: #df66e4;
    --color-thrift: #D12127;
    --color-ti-program: #A0AA87;
    --color-tl-verilog: #C40023;
    --color-tla: #4b0079;
    --color-toml: #9c4221;
    --color-tsql: #e38c00;
    --color-tsv: #237346;
    --color-tsx: #3178c6;
    --color-turing: #cf142b;
    --color-twig: #c1d026;
    --color-txl: #0178b8;
    --color-typescript: #3178c6;
    --color-unified-parallel-c: #4e3617;
    --color-unity3d-asset: #222c37;
    --color-unix-assembly: null;
    --color-uno: #9933cc;
    --color-unrealscript: #a54c4d;
    --color-urweb: #ccccee;
    --color-v: #4f87c4;
    --color-vala: #a56de2;
    --color-valve-data-format: #f26025;
    --color-vba: #867db1;
    --color-vbscript: #15dcdc;
    --color-vcl: #148AA8;
    --color-velocity-template-language: #507cff;
    --color-verilog: #b2b7f8;
    --color-vhdl: #adb2cb;
    --color-vim-help-file: #199f4b;
    --color-vim-script: #199f4b;
    --color-vim-snippet: #199f4b;
    --color-visual-basic-net: #945db7;
    --color-visual-basic-6-0: #2c6353;
    --color-volt: #1F1F1F;
    --color-vue: #41b883;
    --color-vyper: #2980b9;
    --color-wdl: #42f1f4;
    --color-web-ontology-language: #5b70bd;
    --color-webassembly: #04133b;
    --color-webassembly-interface-type: #6250e7;
    --color-webidl: null;
    --color-wgsl: #1a5e9a;
    --color-whiley: #d5c397;
    --color-wikitext: #fc5757;
    --color-windows-registry-entries: #52d5ff;
    --color-wisp: #7582D1;
    --color-witcher-script: #ff0000;
    --color-wollok: #a23738;
    --color-world-of-warcraft-addon-data: #f7e43f;
    --color-wren: #383838;
    --color-x10: #4B6BEF;
    --color-xbase: #403a40;
    --color-xc: #99DA07;
    --color-xml: #0060ac;
    --color-xml-property-list: #0060ac;
    --color-xojo: #81bd41;
    --color-xonsh: #285EEF;
    --color-xproc: null;
    --color-xquery: #5232e7;
    --color-xs: null;
    --color-xslt: #EB8CEB;
    --color-xtend: #24255d;
    --color-yacc: #4B6C4B;
    --color-yaml: #cb171e;
    --color-yara: #220000;
    --color-yasnippet: #32AB90;
    --color-yul: #794932;
    --color-zap: #0d665e;
    --color-zeek: null;
    --color-zenscript: #00BCD1;
    --color-zephir: #118f9e;
    --color-zig: #ec915c;
    --color-zil: #dc75e5;
    --color-zimpl: #d67711;
}